<a href="https://colab.research.google.com/github/vinayprabhu/Crimes_of_Vison_Datasets/blob/master/Notebooks/Notebook_4_ml_images_unsafe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction:

This notebook pertains to the details of the 'Unsafe sysnsets / classes' that seeped into the Tencent ML images dataset (via the Wordnet-fuelled taxonomy building)

Paper link: https://arxiv.org/pdf/1901.01703.pdf

## 1: How did they get here?

As stated in Section 3.2 of the paper above, _We firstly map the categories of Tencent ML-Images
to the WordIDs in WordNet. According to the WordIDs,
we construct the semantic hierarchy among these 11,166
categories. It include 4 independent trees, of which the
root nodes are thing, matter, physical object and atmospheric
phenomenon, respectively_

### 1b: Timeline:

- Sep 2020 : Excavating AI work appears (Earliest snapshot here: https://web.archive.org/web/20190918165259/https://www.excavating.ai/)

- 30 Jan 2020 : FACCT* paper _Towards fairer datasets: filtering and balancing the distribution of the people subtree in the ImageNet hierarchy_ published disseminating the the 1593 'unsafe synsets' in the ImageNet dataset
- 9 Feb 2020 : Tencent ML-Image paper's latest updated version appears on ArXiV here: https://arxiv.org/pdf/1901.01703.pdf ( Still including all the unsafe synsets ) 

## 2: Data sources:

- Unsafe synsets URL:  http://image-net.org/filtering-and-balancing/unsafe_synsets.txt - Contains the 1593 'unsafe synsets' that the ImageNet curators admitted in the paper shared here: https://gfx.cs.princeton.edu/pubs/Yang_2020_TFD/index.php
- Classes in ML-Images: https://raw.githubusercontent.com/Tencent/tencent-ml-images/master/data/dictionary_and_semantic_hierarchy.txt - Contains the 11,166 classes in the Tencent ML - Images dataset

Either _wget_ them locally or just pass the URLs to pandas read_csv method to pull in the data

In [1]:
import pandas as pd

In [2]:
url_unsafe_synsets_imagenet='http://image-net.org/filtering-and-balancing/unsafe_synsets.txt'
url_ml='https://raw.githubusercontent.com/Tencent/tencent-ml-images/master/data/dictionary_and_semantic_hierarchy.txt'
# 1: Read the Unsafe classes from the ImageNet portal
df=pd.read_csv(url_unsafe_synsets_imagenet,header=None)
print(df.shape)
synsets_unsafe=df[0].values

(1593, 1)

In [3]:
df_ml=pd.read_csv(url_ml,delimiter='	')
print(df_ml.shape)
df_ml.head()

(11166, 4)

   category_index  ...            category name
0               0  ...                    thing
1               1  ...                   matter
2               2  ...  object, physical object
3               3  ...   atmospheric phenomenon
4               4  ...                body part

[5 rows x 4 columns]

In [4]:
synsets_ml=df_ml.category_id.values

In [5]:
df_ml_unsafe=df_ml.loc[df_ml.category_id.isin(synsets_unsafe)]
df_ml_unsafe.reset_index(inplace=True,drop=True)
df_ml_unsafe.shape

(315, 4)

In [6]:
df_ml_unsafe.head()

   category_index  ...                                     category name
0            8493  ...                         juvenile, juvenile person
1            8494  ...                                      countrywoman
2            8496  ...                                            native
3            8498  ...  native, indigen, indigene, aborigine, aboriginal
4            8499  ...                                          Filipino

[5 rows x 4 columns]

In [7]:
df_ml_unsafe.to_csv('df_ml_unsafe.csv',index=False)

In [8]:
# url_wordnet='https://www.cs.princeton.edu/courses/archive/spring20/cos226/assignments/wordnet/files/synsets.txt'
# df_wordnet=pd.read_csv(url_wordnet,header=None,usecols=np.arange(3))
# df_wordnet.columns=['class_num','class_name','class_descrp']
# print(df_wordnet.shape) # (82192, 3)
# df_wordnet.to_csv('df_wordnet_3.csv',index=False)